@font-face{
	src: url('../fonts/DimorInlineA.ttf');
	font-family: 'Dimor';
}
.bg_header{
	background-image: url('../images/BackgroundImage.png');

}
.nav_text{
	color: #b09165;
}
.nav_button{
	background-color: #b09165;
}
.font_class{
	font-family:'Dimor' ;
	color: #b09165;
}